{% extends 'theme.html' %}
{% from 'bootstrap/form.html' import render_form %}{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Active
                        Schedule
                    </h6>
                </div>
                <div id="timeline" style="width: 100%"></div>
            </div>
        </div>

        <div id="alter-form-div" class="row" hidden="true">
            <div class="col-4">
                {{ render_form(form, id="alter-form") }}
            </div>
        </div>

    </div>
    <script type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ["timeline"]
        });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var sch_data = JSON.parse('{{ sch_items|safe }}');
            var old_sch_data = JSON.parse('{{ old_sch_items|safe }}');
            var container = document.getElementById('timeline');
            var chart = new google.visualization.Timeline(container);
            var dataTable = new google.visualization.DataTable();
            var with_id = new google.visualization.DataTable();
            with_id.addColumn({
                type: 'string',
                id: 'Door Name'
            });
            with_id.addColumn({
                type: 'string',
                id: 'Start'
            });
            with_id.addColumn({
                type: 'string',
                id: 'End'
            });
            with_id.addColumn({
                type: 'number',
                id: 'sch_id'
            })

            dataTable.addColumn({type: 'string', id: 'Name'});
            dataTable.addColumn({type: 'string', id: 'Empty'});
            dataTable.addColumn({type: 'string', id: 'style', role: 'style'});
            dataTable.addColumn({type: 'date', id: 'Start'});
            dataTable.addColumn({type: 'date', id: 'End'});
            rows = []
            rows2 = []
            sch_data.forEach(function (item) {
                rows.push([
                    item['door_name'], "", 'fill-opacity: 1.0', new Date
                    (item['start_date']),
                    new Date(item['end_date'])
                ])
                rows2.push([
                    item['door_name'], item['start_date'],
                    item['end_date'], item['id']
                ])
            })

            old_sch_data.forEach(function (item) {
                console.log(item)
                rows.push([
                    item['door_name'], "", 'fill-opacity: 0.5', new Date
                    (item['start_date']),
                    new Date(item['end_date'])
                ])
                rows2.push([item['door_name'], item['start_date'],
                    item['end_date'], item['id']
                ])
            })
            dataTable.addRows(rows);
            chart.draw(dataTable);
            with_id.addRows(rows2);
            google.visualization.events.addListener(chart, 'select',
                selectHandler)

            function selectHandler() {
                var selectedItem = chart.getSelection()[0];
                if (selectedItem) {
                    var topping = with_id.getValue(selectedItem.row, 3);
                    $("#alter-form-div").removeAttr('hidden');
                    $("#schedule-id").val(topping);
                    console.log(with_id)
                    $("#end-date").html(with_id.getValue(selectedItem.row, 2));
                    $("#end-date").val(with_id.getValue(selectedItem.row, 2));
                    $("#start-date").html(with_id.getValue(selectedItem.row,
                        1));
                    $("#start-date").val(with_id.getValue(selectedItem.row,
                        1));
                    $("#lock-name").val(with_id.getValue(selectedItem.row, 0));

                }
            }

            chart.draw(dataTable);
        }
    </script>
    <div id="example5.5" style="height: 150px;"></div>


{% endblock %}