{% extends 'user_theme.html' %} {% block schedules %}
<a class="collapse-item" href="create-schedule">Create a Schedule</a> {% endblock schedules %} {% block navbaritems %}
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLocks" aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Locks</span>
    </a>
    <div id="collapseLocks" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="view-histories"> View
                Lock Histories
            </a>
            <a class="collapse-item" href="manual-override">Send Manual Signal</a>
        </div>
    </div>
</li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse"
           data-target="#collapseUsers" aria-expanded="true"
           aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Users</span>
        </a>
        <div id="collapseUsers" class="collapse" aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="users">Show all users</a>
                <a class="collapse-item" href="user-form">Create a user</a>
                <a class="collapse-item" href="set-password-restrictions">Set
                    Password Options</a>
            </div>
        </div>
    </li> {% endblock navbaritems %}