{% extends 'theme.html' %} {% from 'bootstrap/form.html' import render_form %} {% from 'bootstrap/form.html' import render_field %}{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Create a Schedule Item</h6>
            </div>
            <div class="card-body shadow">
                {{ render_form(schedule_form) }}

            </div>
        </div>
        <div class="col-6">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Upload From CSV</h6>
            </div>
            <div class="card-body shadow">
                <form id="upload-csv-form" method="post" enctype="multipart/form-data">
                    <fieldset>
                        {{ render_field(csv_form.file_field) }}
                    </fieldset>
                    <button id="review-form" type="button" class="btn btn-primary">Review</button> {{ render_field(csv_form.submit_csv, id="submit-csv", hidden=True) }}
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModal1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Review your changes</h5>
                        <button type="button" class="close" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                    <div class="modal-body">
                        <div id="timeline" style="width: 100%"></div>
                    </div>
                    <div class="modal-footer">
                        <button id="submit-csv-button" type="button" class="btn btn-primary" aria-label="Submit">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {
        'packages': ['timeline']
    });

    function drawChart() {
        var sch_data;
        var json_data = {};

        json_data["file_path"] = $("#csv_field").val();
        var form_data = new FormData($('#upload-csv-form')[0]);

        $.ajax({
            type: 'POST',
            url: '/api/review-data',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            complete: [function(response_data) {
                console.log(response_data["responseJSON"]);
                sch_data = response_data["responseJSON"];

                var container = document.getElementById('timeline');
                var chart = new google.visualization.Timeline(container);
                var dataTable = new google.visualization.DataTable();
                dataTable.addColumn({
                    type: 'string',
                    id: 'Door Name'
                });
                dataTable.addColumn({
                    type: 'date',
                    id: 'Start'
                });
                dataTable.addColumn({
                    type: 'date',
                    id: 'End'
                });
                rows = []
                sch_data.forEach(function(item) {
                    console.log(item)
                    rows.push([item['lock_name'], new Date(item['start_date']),
                        new Date(item['end_date'])
                    ])
                })

                dataTable.addRows(rows);
                google.visualization.events.addListener(chart, 'select',
                    selectHandler)

                function selectHandler() {
                    var selectedItem = chart.getSelection()[0];
                }

                chart.draw(dataTable);
            }]
        });
    }
</script>

<script>
    $('#review-form').on("click", function(e) {
        $('#reviewModal').modal('show');
        drawChart();
    });
    $('#submit-csv-button').on("click", function(e) {
        $('#submit-csv').click();
    });
</script>
{% endblock %}