{% extends 'theme.html' %}

{% block body %}
<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Door Lock Status</h1>
    </div>

    <div class="row">
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Doors
                    Overview</h6>
            </div>
            <div class="card-body">
                <div class="container">
                    <img src="/static/images/kroki.jpg" alt="Snow"
                         style="width:100%;">
                    <div class="bottom-left">Bottom Left</div>
                    <div class="top-left">Top Left</div>
                    <div class="top-right">Top Right</div>
                    <div class="bottom-right">Bottom Right</div>
                    <div class="centered">Centered</div>
                </div>
            </div>
        </div>
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Doors
                    Overview</h6>
            </div>
            <div class="card-body">
                <table id="locks_table" class="display">
                  <tbody>
                  </tbody>
                </table>               
              </div>     
            </div>          
          </div>
      </div>
<script>
$(document).ready( function () {
  var lock_data = JSON.parse('{{ lock_status|safe }}');

  $('#locks_table').DataTable({
      searching: false,
      pagingType: "full_numbers",
      "columns": [{
        "title": "Lock Name",
        "data": "lock_name"
      }, {
        "title": "Lock Status",
        "data": "current_status_id"
      }],
  });
  var table = $('#locks_table').DataTable();
  table.clear().rows.add(lock_data).draw();

} );
</script>
{% endblock body %}