<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Door Admin LogIn</title>

  <!-- Custom fonts for this template-->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin-2.css" rel="stylesheet">

  {{ bootstrap.load_css() }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/static/js/custom_scripts.js"></script>
  
  <script src="https://use.fontawesome.com/73ced0dece.js"></script>


</head>
{% from 'bootstrap/form.html' import render_field %}

<body class="bg-gradient-primary">

  <div class="container">

    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                  <form class="user" id="loginform" method="POST" enctype="multipart/form-data">
                      {{ form.hidden_tag() }} 
                      <div class="form-field">{{ render_field(form.email, class='form-control form-control-user', placeholder="Enter Email Address...") }}</div>
                      <div class="form-field">{{ render_field(form.password, class='form-control form-control-user', placeholder="Enter Password")}}</div>
                      <div class="form-field">{{ render_field(form.submit) }}</div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</body>

</html>
