{% extends 'theme.html' %}{% block body %}

<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Door Lock Status</h1>
    </div>
    <div class="row">
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Doors Overview
                </h6>
            </div>
            <div class="card-body">
                <table id="locks_table" class="display">
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(function () {
            $('#chkToggle2').bootstrapToggle()
        });
        var lock_data = JSON.parse('{{ locks_data|safe }}');

        $('#locks_table').DataTable({
            searching: false,
            select: true,
            pagingType: "full_numbers",
            "columns": [{
                "title": "Lock Name",
                "data": "lock_name"
            }, {
                "title": "Lock/Unlock",
                "render": function (data, type, row, meta) {
                    var checkbox = $("<input/>", {
                        "type": "checkbox"
                    });
                    checkbox.attr("data-toggle", "toggle");
                    checkbox.attr("data-on", "<i class=\"fas " +
                        "fa-lock-open\"></i>");
                    checkbox.attr("data-off", "<i class=\"fas fa-lock\"></i>");
                    console.log(row);
                    if (row["current_status_id"] === "Open")
                        checkbox.attr("checked", "checked");
                    return checkbox.prop("outerHTML");
                }
            }]
        });
        var table = $('#locks_table').DataTable();
        table.clear().rows.add(lock_data).draw();

        $('#locks_table tbody').on('change', 'input', function () {
            var data = table.row($(this).parents('tr')).data();
            var json_data = {};
            json_data["lock_name"] = data["lock_name"];
            json_data["lock_status"] = data["current_status_id"];
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json_data),
                dataType: "json",
                url: "/api/set-lock-status-by-name",
                complete: [function (response_data) {
                    alert("Door Status Changed Successfully")
                    location.reload()
                }]
            });
        });
    });
</script>

{% endblock body %}