{% extends 'theme.html' %} {% from 'bootstrap/form.html' import render_form %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Create a
                        User</h6>
                </div>
                <div class="card-body shadow">
                    {{ render_form(form) }}
                </div>
            </div>
        </div>
    </div>



{% endblock %}