{% extends 'theme.html' %} {% block body %}

<div class="container-fluid">
    <div class="card shadow mb-2">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Lock Schedule History
            </h6>
        </div>
        <div class="card-body">
            <table id="schedule-history-table" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Lock Name</th>
                        <th>Lock Location</th>
                        <th>Schedule Timestamp</th>
                        <th>Lock Status</th>
                        <th>Schedule Status</th>
                    </tr>
                </thead>
                <tfoot>
                </tfoot>
            </table>
            <script>
                function setupData() {
                    $(document).ready(function() {
                        $('#schedule-history-table').DataTable({
                            "ajax": {
                                "url": "/api/get-schedules",
                                "dataType": "json",
                                "dataSrc": "data",
                                "contentType": "application/json"
                            },
                            "columns": [{
                                "data": "name"
                            }, {
                                "data": "location"
                            }, {
                                "data": "timestamp"
                            }, {
                                "data": "lock_status"
                            }, {
                                "data": "schedule_status"
                            }]
                        });
                    });
                }
                $(window).on("load", setupData);
            </script>
        </div>
    </div>
    </body>
    <div>
        <a class="btn btn-primary" href="/active-schedule" role="button">Active Schedules</a>
    </div>
</div>
{% endblock body %}