{% extends 'theme.html' %}

{% block body %}
{% from 'bootstrap/form.html' import render_field %}
<head>
    <title>Schedule History</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
</head>
<div class="container-fluid">
    <div class="card shadow mb-2">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Lock Schedule
                History</h6>
        </div>
        <div class="card-body">
            <table id="schedule-history-table" class="display"
                   style="width:100%">
                <thead>
                <tr>
                    <th>Schedule Timestamp</th>
                    <th>Lock Name</th>
                    <th>Previous Status</th>
                    <th>New Status</th>
                    <th>Action Performed By</th>
                </tr>
                </thead>
                <tfoot>
                </tfoot>
            </table>
            <script>
                function setupData() {
                    $(document).ready(function () {
                        $('#schedule-history-table').DataTable({
                            "ajax": {
                                "url": "/api/get-lock-histories",
                                "dataType": "json",
                                "dataSrc": "data",
                                "contentType": "application/json"
                            },
                            "columns": [
                                {"data": "action_timestamp"},
                                {"data": "lock_id"},
                                {"data": "prev_status_id"},
                                {"data": "new_status_id"},
                                {"data": "action_performed_by"}
                            ]
                        });
                    });
                }

                $(window).on("load", setupData);
            </script>
        </div>
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Send Status
                    History Email</h6>
            </div>
            <div class="card-body">
                <form id="scheduleform" method="POST"
                      enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="form-field">{{ render_field(form.email) }}
                    </div>
                    <div class="form-field">{{ render_field(form.submit) }}
                    </div>

                </form>
            </div>
        </div>
    </div>
    </body>
</div>
{% endblock body %}
