{% extends 'theme.html' %} {% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-2">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Users
                        </h6>
                    </div>
                    <div class="card-body">
                        <table id="users-table" class="display"
                               style="width:100%">
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="card shadow mb-2">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">
                                    Edit User Info
                                </h6>
                            </div>
                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend col-2">
                                        <span class="input-group-text col-12">Email:</span>
                                    </div>
                                    <input disabled="true" type="text"
                                           class="form-control"
                                           id="email-field">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend col-2">
                                        <span class="input-group-text col-12">Name:</span>
                                    </div>
                                    <input disabled="true" type="text"
                                           class="form-control"
                                           id="name-field">
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend col-2">
                                        <span class="input-group-text col-12">Surname:</span>
                                    </div>
                                    <input disabled="true" disabled type="text"
                                           class="form-control"
                                           id="surname-field">
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend col-2">
                                        <span class="input-group-text col-12">Address:</span>
                                    </div>
                                    <textarea disabled="true"
                                              class="form-control"
                                              id="address-field"></textarea>
                                </div>

                                <div class="col-2">
                                    <button disabled="true" type="button"
                                            class="btn btn-primary"
                                            id="save-button">Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card shadow mb-2">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">
                                    Update User Password
                                </h6>
                            </div>
                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend col-2">
                                        <span class="input-group-text col-12">Email:</span>
                                    </div>
                                    <input disabled="true" type="text"
                                           class="form-control"
                                           id="email-password-field">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend col-2">
                                        <span class="input-group-text col-12">Password:</span>
                                    </div>
                                    <input type="password" disabled="true"
                                           maxlength="{{ maxval }}"
                                           minlength="{{ minval }}"
                                           class="form-control"
                                           id="password-field"
                                           oninput="checkAll()">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend col-2">
                                    <span class="input-group-text col-12"
                                          style="">
                                        Re-Enter <br> Password:</span>
                                    </div>
                                    <input type="password" disabled="true"
                                           maxlength="{{ maxval }}"
                                           minlength="{{ minval }}"
                                           class="form-control"
                                           id="password-re-field"
                                           oninput="checkInput()">
                                </div>
                                <div style="display: none;" class="col-2"
                                     id="val-field">
                                    <h6 style="white-space: nowrap"
                                        class="m-0 font-weight-bold text-danger">
                                        Passwords Must Match
                                    </h6>
                                    <br>
                                </div>
                                <div style="display: none;" class="col-2"
                                     id="pass-len-field">
                                    <h6 style="white-space: nowrap"
                                        class="m-0 font-weight-bold text-danger">
                                        Password Must be Between {{ minval }}
                                        - {{ maxval }} Characters
                                    </h6>
                                    <br>
                                </div>
                                <div style="display: none;" class="col-2"
                                     id="pass-num-field">
                                    <h6 style="white-space: nowrap"
                                        class="m-0 font-weight-bold text-danger">
                                        Password Must Contain Numbers
                                    </h6>
                                    <br>
                                </div>
                                <div style="display: none;" class="col-2"
                                     id="pass-spc-field">
                                    <h6 style="white-space: nowrap"
                                        class="m-0 font-weight-bold text-danger">
                                        Password Must Contain Any of the
                                        Special Characters @_!#$%^&*()<>?/|}{~:
                                    </h6>
                                    <br>
                                </div>
                                <div class="col-2">
                                    <button disabled="true" type="button"
                                            class="btn btn-primary"
                                            id="save-password-button">Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function createTable() {
                $('#users-table').DataTable({
                    searching: true,
                    pagingType: "full_numbers",
                    "columns": [{
                        "title": "E-Mail",
                        "data": "email"
                    }, {
                        "title": "Name",
                        "data": "name"
                    }, {
                        "title": "Surname",
                        "data": "surname"
                    }, {
                        "title": "Status",
                        "data": "user_type_id"
                    }, {
                        "defaultContent": "<button id='change_status' class='btn btn-lg' title='Change Status'><i class='fas fa-users-cog'></i></i></button>"
                    }, {
                        "defaultContent": "<button id='change_password' class='btn btn-lg' title='Change Password'><i class='fas fa-key'></i></i></button>"
                    }, {
                        "defaultContent": "<button id='update_user' class='btn btn-lg' title='Edit Profile'><i class='fas fa-edit'></i></i></button>"
                    }, {
                        "visible": false,
                        "data": "address"
                    }]
                });
            }

            function drawTable(table, user_data) {
                table.clear().rows.add(user_data).draw();
            }

            function checkInput() {
                var password = document.getElementById("password-field");
                var confirm_password = document.getElementById("password-re-field");

                var element = $("#password-re-field")[0];
                if (password.value != confirm_password.value) {
                    document.getElementById("val-field").style.display =
                        "inherit";
                    element.style.borderColor = "red";
                    return false;
                } else {
                    document.getElementById("val-field").style.display =
                        "none";
                    element.style.borderColor = "lightgray";
                    return true;
                }
            }

            function checkLen() {
                var password = document.getElementById("password-field");
                var element = $("#password-field")[0];
                if (password.value.length < {{minval}} || password.value
                    .length > {{maxval}}) {
                    document.getElementById("pass-len-field").style.display = "inherit";
                    element.style.borderColor = "red";
                    return false;
                } else {
                    document.getElementById("pass-len-field").style.display =
                        "none";
                    element.style.borderColor = "lightgray";
                    return true;
                }
            }

            function checkAll() {
                checkLen();
                checkNum();
                checkSpc();
            }

            function checkNum() {
                var password = document.getElementById("password-field");
                var element = $("#password-field")[0];
                if (!/\d/.test(password.value) && 1 == {{ numbers
                }}) {
                    document.getElementById("pass-num-field").style.display =
                        "inherit";
                    element.style.borderColor = "red";
                    return false;
                } else {
                    document.getElementById("pass-num-field").style.display =
                        "none";
                    element.style.borderColor = "lightgray";
                    return true;
                }
            }

            function checkSpc() {
                var password = document.getElementById("password-field");
                var element = $("#password-field")[0];
                var format = /[ `!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;
                if (!format.test(password.value) && 1 == {{ special
                }}) {
                    document.getElementById("pass-spc-field").style.display
                        = "inherit";
                    element.style.borderColor = "red";
                    return false;
                } else {
                    document.getElementById("pass-spc-field").style.display =
                        "none";
                    element.style.borderColor = "lightgray";
                    return true;
                }
            }

            $(document).ready(function () {
                createTable();
                var user_data = JSON.parse('{{ user_data|safe }}');
                var table = $('#users-table').DataTable();
                drawTable(table, user_data);

                $('#users-table tbody').on('click', '#change_status', function () {
                    var data = table.row($(this).parents('tr')).data();
                    var json_data = {};

                    json_data["email"] = data["email"];
                    json_data["status"] = data["user_type_id"];

                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(json_data),
                        dataType: "json",
                        url: "/api/set-status",
                        complete: [function (response_data) {
                            location.reload()
                        }]
                    });
                });

                $('#users-table tbody').on('click', '#change_password', function () {
                    var data = table.row($(this).parents('tr')).data();
                    $("#password-field").attr("disabled", false);
                    $("#password-re-field").attr("disabled", false);
                    $("#save-password-button").attr("disabled", false);

                    $("#email-password-field").val(data['email']);
                });

                $('#users-table tbody').on('click', '#update_user', function () {
                    var data = table.row($(this).parents('tr')).data();

                    console.log(data);

                    $("#name-field").attr("disabled", false);
                    $("#surname-field").attr("disabled", false);
                    $("#address-field").attr("disabled", false);
                    $("#save-button").attr("disabled", false);

                    $("#email-field").val(data['email']);
                    $("#name-field").val(data['name']);
                    $("#surname-field").val(data['surname']);
                    $("#address-field").html(data['address']);
                });

                $('#save-button').on('click', function () {
                    var json_data = {};
                    json_data["name"] = $('#name-field').val()
                    json_data["surname"] = $('#surname-field').val()
                    json_data["address"] = $('#address-field').html()
                    json_data["email"] = $("#email-field").val();

                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(json_data),
                        dataType: "json",
                        url: "/api/update-users",
                        complete: [function (response_data) {
                            var table = $('#users-table').DataTable();
                            console.log(response_data);
                            drawTable(table, response_data['responseJSON']);

                            $("#name-field").attr("disabled", true);
                            $("#surname-field").attr("disabled", true);
                            $("#address-field").attr("disabled", true);
                            $("#save-button").attr("disabled", true);

                            $("#email-field").val("");
                            $("#name-field").val("");
                            $("#surname-field").val("");
                            $("#address-field").html("");
                        }]
                    });
                });

                $('#save-password-button').on('click', function () {
                    if (!checkInput())
                        return;
                    if (!checkLen())
                        return;
                    if (!checkNum())
                        return;
                    if (!checkSpc())
                        return;
                    var json_data = {};
                    json_data["email"] = $('#email-password-field').val();
                    json_data["password"] = $('#password-field').val();

                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(json_data),
                        dataType: "json",
                        url: "/api/update-password",
                        complete: [function (response_data) {
                            alert("Password has changed!");

                            $("#email-password-field").val("");
                            $("#password-field").val("");
                            $("#password-re-field").val("");

                            $("#save-password-button").attr("disabled", true);
                            $("#password-field").attr("disabled", true);
                            $("#password-re-field").attr("disabled", true);
                        }]
                    });
                });

            });
        </script>
        </body>
    </div>{% endblock %}